.review {
  clear: both;
  padding-bottom: 50px;
  min-height: 250px;
  .imageContainer {
    @include gradient-bg;
    position: relative;
    float: left;
    width: 105px;
    height: 105px;
    margin: 0;
    img {
      padding: 5px;
    }
  }
  header {
    padding-left: 120px;
    h2,
    p {
      padding: 0;
    }
  }
  a,
  a:link,
  a:visited {
    color: #666666;
  }
  blockquote {
    padding-top: 10px;
    clear: both;
    &:before {
      content: "\201C";
      color: #29a0b1;
      float: left;
      font-size: 57px;
      height: 1px;
      margin-top: 11px;
      padding-right: 5px;
      font-family: Arial, sans-serif;
      line-height: 0.5;
    }
  }
}

@media screen and (min-width: 630px) {
  .review {
    .imageContainer {
      position: relative;
      width: 210px;
      height: 210px;
      margin-top: 0;
      img {
        padding: 10px;
      }
    }
    blockquote {
      clear: none;
    }
    header {
      padding: 0; // reset padding
    }
    &:nth-child(odd) {
      .imageContainer {
        float: left;
      }
      header,
      blockquote {
        padding-left: 225px;
      }
    }

    &:nth-child(even) {
      .imageContainer {
        float: right;
      }
      header,
      blockquote {
        padding-right: 225px;
      }
    }
  }
}
