.portfolio > ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, auto));
  grid-gap: 15px;
  grid-auto-flow: dense;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(175px, auto));
    justify-content: start;
  }
  & > li {
    list-style: none outside none;
    border: 1px solid #cdcdcd;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.5);
    margin: auto;

    @media screen and (min-width: 600px) {
      max-width: 200px;
      padding: 10px;
      max-height: 200px;
    }
    &.current {
      border-bottom: 5px solid #29a0b1;
      &::after {
        content: "";
        position: relative;
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 25px solid #29a0b1;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        // Centers arrow
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
      }
    }
    &.fullRow {
      grid-column: 1 / -1;
      max-width: 100%;
    }
    & > a {
      width: 100%;
      height: 100%;
      min-height: 175px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        padding: 10%;
        @media screen and (min-width: 1050px) {
          padding: 10px;
        }
        //max-width: 80%;
        //height: auto;
      }
    }
  }
}

// Portfolio Details
.portfolioItem {
  padding-top: 15px;
  display: grid;
  grid-gap: 15px;

  @media screen and (min-width: 980px) {
    grid-template-columns: 1fr 1fr;
  }

  .close {
    display: none;
    float: right;
  }

  .seeMore {
    grid-column: 1/-1;
    text-align: right;
    &:after {
      content: "\0027a4";
      padding: 0 5px;
    }
  }
  .portfolioImages {
    padding: 15px;
    // This fixes glitch on image load
    .image-gallery {
      @media screen and (min-width: 450px) {
        min-width: 450px;
        min-height: 450px;
      }
    }
  }
  .portfolioDetails {
    padding: 15px;
  }
}

.portfolioImages {
  margin: 0 auto;
  max-height: 450px;
  max-width: 600px;
  overflow: hidden;
  & > img {
    align-self: center;
  }
}
