.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.3em;
  font-size: 1em;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 0 20px 50px 20px;
  > section:first-of-type {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1050px) {
  .content {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
  }
}
