.headerElement {
  z-index: 4;
}
.header {
  background-color: #29a0b1;
  text-align: center;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.5);
  box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.5);
}

.header h1 a {
  font-family: InspirationROB, "Times New Roman", Times, serif;
  color: #fff;
  font-size: 2em;
  line-height: 1.5em;
  text-decoration: none;
  text-align: center;
  font-weight: 100;
  text-shadow:
    0 0 1px #ccc,
    0 0 1px #ccc,
    0 0 1px #ccc;
}

/* Navigation Styles */

.topNav {
  background-color: #2995b1;
  -webkit-box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.5);
  box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.5);
  .nav {
    max-width: 980px;
    margin: 0 auto; /* width: 97.916666666666666666666666666667%; 940px / 960px */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }
  .nav li {
    flex: 1 1 30%;
    //background-color: #b1d1dd;
    text-align: center;
    padding: 0 0;
  }
  .nav li a {
    display: block;
    width: 98%;
    font-weight: bold;
    padding: 0.5em 1%;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }

  @media screen and (min-width: 650px) {
    .nav {
      flex-wrap: nowrap;
    }
    .header h1 a {
      font-size: 3em;
    }
  }
  @media screen and (max-width: 655px) {
    .nav li {
      width: 16.5%;
      //background-color: #ecf3f7;
      text-align: center;
      -webkit-box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.5);
      box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.5);
      padding: 0;
    }
    a.active {
      background-color: #29a0b1;
    }
  }

  @media screen and (max-width: 400px) {
    .nav li a {
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 240px) {
    .nav li a {
      font-size: 0.6em;
    }
  }
}
