@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery.fullscreen-modal,
.image-gallery-content.fullscreen {
  background-color: #ffffff;
}

.image-gallery-fullscreen-button {
  top: 0;
  bottom: unset;
  &:before {
    background-color: #3333334d;
  }
}
// move nav down since we are cutting off image at 450px height
.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 0 5px;
  top: 150px;
  transform: unset;
}

// when in full screen mode move it all back
.image-gallery.fullscreen-modal {
  .image-gallery-left-nav,
  .image-gallery-right-nav {
    padding: 0 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  .image-gallery-slide img {
    max-height: 100vh;
  }
}
