.footer {
  width: 100%;
  clear: both;
  border-top: 3px solid #29a0b1;
  background-color: #1f7288;
  padding: 0.5em 0;
}

.content {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.copyright {
  color: #ffffff;
  font-size: 0.8em;
}

.socialIcon {
  float: right;
  max-width: 30px;
  max-height: 30px;
  margin-left: 5px;

  img {
    width: 100%;
  }
}
