.footer {
  width: 100%;
  clear: both;
  border-top: 3px solid #b1d1dd;
  background-color: #8da9b9;
  padding: 0.5em 0;
}

.copyright {
  color: #ffffff;
  font-size: 0.8em;
}

.socialIcon {
  float: right;
  max-width: 30px;
  max-height: 30px;
  margin-left: 5px;

  img {
    width: 100%;
  }
}
